.subPage {
	width: 100%;
	height: 100svh;
	position: absolute;
	z-index: 1;
	padding: 4rem 2rem;
	transition: 0.3s;

	.goBack {
		font-size: 2rem;
		color: var(--text-color);

		svg {
			opacity: 0.3;
			transition: 0.3s;
			&:hover {
				opacity: 0.6;
				scale: 1.1;
			}
		}
	}
}

@media (max-width: 768px) {
}

@media (min-width: 769px) {
	.subPage {
		display: flex;
		justify-content: center;
		.wrapper {
			width: 50rem;
		}
	}
}
