.about {
	color: var(--text-color);

	.title {
		margin-top: 2rem;
		font-size: 2rem;
	}
}

@media (max-width: 768px) {
	.about {
		// background: rgba(0, 0, 255, 0.271);
	}
}

@media (min-width: 769px) {
	.about {
		// background: rgba(128, 0, 128, 0.273);
	}
}
