* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--background-color: #d3d3d3;
	--text-color: #000000;
	/* Add more variables as needed */
}

.dark-theme {
	--background-color: #1e1e1f;
	--text-color: #ffffff;
	/* Add more variables as needed */
}

body {
	background: var(--background-color);
}

$blur_duration: 0.3s;
$blur_amount: 20px;

.body:has(.subpage) .homepage {
	animation: blurIn $blur_duration forwards;
}
.body:not(:has(.subpage)) .homepage {
	animation: blurOut $blur_duration forwards;
}

.subpage {
	width: 100%;
	height: 100svh;
	position: absolute;
	z-index: 1;
}

@keyframes blurIn {
	from {
		filter: blur(0px);
	}
	to {
		filter: blur($blur_amount);
	}
}

@keyframes blurOut {
	from {
		filter: blur($blur_amount);
	}
	to {
		filter: blur(0px);
	}
}
