.themeButton {
	z-index: 9999;
	top: 2rem;
	right: 2rem;
	background: none;
	border: 2px solid var(--text-color);
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	opacity: 0.3;
	transition: 0.3s;
	color: var(--text-color);

	svg {
		scale: 1.5;
		transform: translateY(1px);
	}

	&:hover {
		opacity: 0.6;
		scale: 1.1;
	}
}

@media (max-width: 768px) {
	.themeButton {
		position: absolute;
		top: 4rem;
	}
}

@media (min-width: 769px) {
	.themeButton {
		position: fixed;
	}
}
